.products {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.products li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  color: #5C44E4;
  margin: .5em;
  padding: .3em 0em;
  height: 1.6em;
  border-radius: 4px;
}

.products li:hover {
  left: .1em;
}
.products li:hover .name,
.products li:hover .price {
  color: #FFF;
  left: .1em;
}
.products li.selected {
  background-color: #0094FF;
  color: white;
}
.products li.selected .name,
.products li.selected .price {
  background-color: #0026FF;
}

.products .text {
  position: relative;
  top: -3px;
}
.products .name {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0em 0.7em;
  background-color: #5C44E4;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0px 0px 4px;
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products .price {
  float: right;
  width: 15%;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0em 0.7em;
  background-color: #5C44E4;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-left: .8em;
  border-radius: 0px 4px 4px 0px;
}
.products .description {
  height: 1.8em;
  display: inline-block;
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products .discontinued, .products .discontinued *, .errorMessage  {
  color: red !important;
}


.currentSort {
  background-color: #5C44E4;
  color: #fff;
}


/* loading spinner */
.loading {
  display: inline-block;
  overflow: hidden;
  height: 1.3em;
  margin-top: -0.3em;
  line-height: 1.5em;
  vertical-align: text-bottom;
}

.loading::after {
  display: inline-table;
  white-space: pre;
  text-align: left;
  content: "◎◎◎\A◉◎◎\A◎◉◎\A◎◎◉";
  animation: spin 1s steps(4) infinite;
}

@keyframes spin  { to { transform: translateY( -6.0em); } }