<header>
  <h1>
    {{ title }}
  </h1>

  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a routerLink="/admin" routerLinkActive="active">Admin</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <hr>
  <a href="http://www.angularacademy.ca" taget="_blank">www.angularacademy.ca</a> 2023 (using Angular {{version}})
</footer>