/* Master Styles */
h1 {
  color: #5c44e4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  margin: 0px;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  margin-top: 0.5em;
}
body,
input[text],
button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}
button:hover {
  background-color: #0546FF;
  color: #fff;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: not-allowed;
  box-shadow: none;
}
footer {
  padding-top: 10px;
  clear: both;
}
.left {
  float: left;
}

.right {
  float: right;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited,
a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
  background-color: yellow;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

*[disabled] {
  cursor: not-allowed;
}

.errorMessage {
  color: red;
}

dialog {
  background-color: rgba(32, 82, 221);
  color: white;
  border-color: transparent;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
  height: 100px;
  width: 200px;
}
dialog::backdrop {
  background: rgba(117, 117, 117, 0.5);
  backdrop-filter: blur(2px);
}
